@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora&display=swap');

:root{
    --heading-font: 'Lobster', Verdana, Arial;
    --paragraph-font: 'Lora', Sans-serif, Helvetica;
}
header{
    text-align: center;
}
.flexbox{
    display: flex;
    justify-content: space-around;
    gap: 0.3em;
}
.logo, .introduce, .home-title{
    box-sizing: border-box;
}
.logo{
    width: 300px;
}
.home-title{
    font-family: var(--heading-font);
    margin: 0;
}

.introduce{
    font-family: var(--paragraph-font);
    padding-top: 2em;
    margin: 0 80px;
    font-size: 1.2em;
    line-height: 1.5em;
}
.video{
    width: 600px;
    margin-top: 60px;
}

