/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Slab&display=swap');

/* Root */

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #D8ECDA ;
    --secondary-color: #1A507F ;
    --accent1-color: #01394F;
    --accent2-color: #EFF6E0;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Dancing Script";
    --paragraph-font: 'Josefin Slab', Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #01394F;  /* headlines on a white background */ 
    --headline-color-on-color: #1A507F ; /* headlines on a colored background */ 
    --paragraph-color-on-white: #01394F; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #01394F; /* paragraph text on a colored background */ 
    --paragraph-background-color: #D8ECDA  ;
    --nav-link-color: #EFF6E0;
    --nav-background-color: #01394F;
    --nav-hover-link-color: #1A507F;
    --nav-hover-background-color: #D8ECDA;
}
/* Globals */

#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    font-family: var(--paragraph-font);
    font-size: 22px;
    color: var(--paragraph-color-on-white);
    background-color: var(--accent2-color);
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-family: var(--heading-font);
    margin: 0;
}
header footer main section img{
    box-sizing: border-box;
}
hr{
    border: 2px solid var(--accent1-color);
    display: inline-block;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--accent1-color);
}
header{
    background-color: var(--primary-color);
}
/* CSS for Home Page */
/* Header */
/* ----------- */
/* Navegation Section*/
.nav_bar{
    display: grid;
    grid-template-columns: 150px auto;
    padding: 0 100px;
}
nav{
    display: flex;
    justify-content: flex-end;
}
nav a{
    font-family: var(--heading-font);
    margin-right: 10px;
    padding: 10px 50px;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: 500;
}
nav a:hover{
    border-radius: 50px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}
.logo_link{
    padding-top:15px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
}
/* --------------- */
/* Hero Section */
.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 150px 50px 50px;
    text-align: right;
}
.hero-img{
    grid-row: 1/3;
    width: 100%;
}
.title-home{
    padding-top: 1em;
    color: var(--headline-color-on-white);
}
.linehover_home{ 
    width: 55%;
    margin-bottom: 25px;
}
.subtitle-home{
    font-size: 1.5em;
    font-family: var(--paragraph-font);
    font-weight: 550; 
    line-height: 1.3em;   
}
.box-grid{
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
}
.box_buttom{
    margin-top: 20px;
}
.contactnow, .resume{
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
}
.contactnow{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 15px 22px;
}
.resume{
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    font-weight: 700;
    padding: 15px 40px;
    margin-left: 40px;
}
.contactnow:hover{
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}
.resume:hover{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

/* Main section */
main{
    text-align: center;
}
.line_home{
    display: inline-block;   
    width: 25%;
}

/* -------------------- */
/* About Me Section */
.aboutme{
    margin: 5em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5em;
}
.titleaboutme{
    grid-column: 1/3;
    margin-bottom: 1.5em;
}
.aboutme_img{
    grid-column: 2/3;
    border-radius: 50%;
}
.aboutme_paragraph{
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 2em;
}

/* ---------------------- */
/* Skills Section */
.skills{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 5em 5em;
    align-content: center;
    align-items: center;
    gap: 2em;
}
.skills_title{
    grid-column: 1/5;
    margin-bottom: 1.5em;
}
.skills_icons{
    width: 50%;
}

/* ------------------------ */
/* Services Section */
.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--primary-color);
    padding: 5em;
    column-gap: 1em;
    margin-bottom: 10em;
}
.services_title{
    grid-column: 1/4;
    margin-bottom: 1.5em;   
}
.web_app_development{
    grid-column: 1/2;
    grid-row: 2/3;
}
.services_img{
    grid-column: 2/3;
    width: 100%;
    margin: auto;
}
.responsive_design{
    grid-column: 3/4;
}
.line_services{
    width: 70%;
    border: 2px solid var(--accent2-color);
}
.services_paragraph{
    padding: 0.5em 3em 1.5em;
}
.services_subtitle{
    padding-top: 1.5em;
}
.box_services{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border-radius: 7%;
    box-shadow: 5px 5px 5px black;
}

/* Footer */
footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2em 3em;
    background-color: var(--primary-color);
    column-gap: 1em;
}
.stay_list{
    line-height: 1.5em;
}
.line_footer{
    width: 90%;
}
.icon_social{
    width: 60%;
}
.box_socialicons{
    margin: 1em 1em 0 0;
    display: flex;
    justify-content: space-between;
}
.span_thanks{
    font-size: 0.8em;
}
.siteplan_link:hover{
    color: rgb(49, 2, 2);
}
/* ----------------------- */
/* Projects Page */

/* Header*/
.h_projects{
    padding: 50px;
    grid-template-columns: 55% 45%;
}
.img_hero_projects{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
}
.text_hero_projects{
    text-align: left;
    padding: 2em 3em 0 3em;
}
.subtitle-projects{
    padding-top: 1em;
    font-size: 1.13em;
}

/* Main Section */
.projects_section{
    margin-top: 5em;
}
.grid_projects{
    display: grid;
    text-align: left;
    margin: 5em;
    align-items: center;
    border: dashed var(--accent1-color);    
    border-radius: 15px;
    padding: 1em;
}
.box_text{
    padding: 0.5em 2em;
}
.freelancer, .coffeeblog, .adventuregame{
    grid-template-columns: 55% 45%;
    background-color: var(--secondary-color);
    border: solid var(--accent2-color);
    box-shadow: 3px 3px 3px 3px var(--accent1-color);
    color: var(--accent2-color);    
}
.frontstore, .tindog, .serclien_program{
    grid-template-columns: 45% 55%;
}
.img_frontstore, .img_tindog, .img_scprogram{
    grid-row: 1/2;
}
.img_projectsdone{
    width: 100%;
    border-radius: 10px;
}
.line_projects{
    width: 30%;
}
.icon_projects{
    width: 10%;
    padding-left: 0.5em;
}
.name_project{
    font-size: 1.5em;
}
.button_gopage{
    float: right;
    margin: 0.65em 2em 0 0;
}
.link_project{
    padding: 0.5em 1.5em;
    background-color: var(--secondary-color);
    border-radius: 15px;
}
.link_freelancer, .link_coffeeblog, .link_adventuregame{
    background-color: var(--accent2-color);
}
.link_scprogram, .link_tindog, .link_frontstore{
    color: var(--accent2-color);
}
.link_scprogram:hover, .link_tindog:hover, .link_frontstore:hover{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: dashed var(--accent1-color)
}
.link_freelancer:hover, .link_coffeeblog:hover, .link_adventuregame:hover{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border: solid var(--accent2-color);
}

/* ------------------------------------ */
/* Contact Page */

/* Header */

.hero_contacts{
    width: 90%;
    margin: auto;
}
.title-contact{
    padding: 1.9em 0 0 2em;
    font-size: 2.2em;
}
.linehover_contact{
    width: 90%;
}
.subtitle-contact{
    padding-top: 1em;
    font-size: 1.2em;
}

/* Main */
/* Hear From You Section */

.hearfromyou{
    margin: 4em 0;
}
.subtitle_hfy{
    margin-bottom: 2em;
    font-size: 2em;
}
.content_text_hfy{
    padding: 1em 5em;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

/* Contact Form Section */

.contact_form{
    margin: 0 5em 4em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
}
.content_contact{
    margin-left: 2em;
}
.subtitle_contactform{
    padding: 0.5em 0;
    font-size: 2em;
}
.camp{
    margin: 0.5em 0;
    width: 250px;
}
.camp_field{
    width: 190%;
    height: 30px;
    border-radius: 20px;
    border: solid var(--accent1-color);
    padding: 0.5em 1em;
    font-size: 0.7em;
}
.camp_field--textarea{
    height: 150px;
    padding-top: 1em;
    resize: none;
}
.camp_field:focus{
    background: var(--primary-color);
    color: var(--accent1-color);
}
.content_img_contact{
    text-align: center;
}
.contact_img{
    width: 100%;
}
.bottom_submit{
    margin: 2em 5em;
    width: 0;
}
.button_form{
    width: auto;
    padding: 0.7em 4em;
    border-radius: 30px;
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    font-size: 1em;
    cursor: pointer;
}
.button_form:hover,
.button_form:focus{
    background :var(--accent1-color);
    color: var(--accent2-color);
}